// Cores 

$primary-color-gradient: #3FE8AB;
$secondary-color-gradient: #78CDCD;

$primary-color: #35AB82;
$primary-light-color: #C5E5E4;
$secondary-color: #3F6A5C;

$primary-light-color: #F6F6F6;
$secondary-light-color: #F6F6F6;

$primary-gray-color: #969696;
$secondary-gray-color: #525252;
$tertiary-gray-color: #2B2B2B;

$primary-dark-color: #111111;
$secondary-dark-color: #151515;
$tertiary-dark-color: #1B1B1B;

// Fonts 
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lato', sans-serif;